body{
    background-color: rgb(61, 59, 29); 
    box-sizing: border-box;
}
nav {
    
    margin-left: 10px;
    color: rgb(94, 7, 7);
}
hr{
    color: antiquewhite;
}
h{
    color: rgb(10, 142, 237);
    font: normal bold 3em "Arial Narrow";
  
    
}
main{
    margin-top: -10px;
}
em{
    font-style: normal ;
    color: yellow;
}
em.name{
    font-style: italic;
    color: rgb(136, 138, 139);
}
a.im{
    text-decoration: none;
    color: rgb(216, 29, 29);
}
a{
    text-decoration: none;
    color: rgb(131, 129, 129);
}
p,ul,ol,div{
    color: rgb(135, 137, 140);   
}
p.movies{
    font-style: italic;
    font-weight: bold;
    }


h1,h3{
    color: rgb(70, 100, 152);
    font: normal bold 2em "Arial Narrow";

}