*{
  /*
    margin: 0;
    padding: 0;
    line-height: 1;*/
    
}
body{
    background-color: rgb(61, 59, 29); 
    box-sizing: border-box;
}
nav a{
    
  
    
}
hr{
    color: antiquewhite;
}
h{
    color: rgb(10, 142, 237);
    font: normal bold 3em "Arial Narrow";
    margin-top: -5px;
    
}
main{
    margin-top: 50px;
}
em{
    font-style: normal ;
    color: yellow;
}
em.name{
    font-style: italic;
    color: rgb(136, 138, 139);
}
a.im{
    text-decoration: none;
    color: rgb(216, 29, 29);
}
a{
    text-decoration: none;
    color: rgb(131, 129, 129);
}
p,ul,ol,div{
    color: rgb(135, 137, 140);   
}
p.movies{
    font-style: italic;
    font-weight: bold;
    }


h1,h3{
    color: rgb(70, 100, 152);
    font: normal bold 2em "Arial Narrow";

}

ol{
    
}
div ol > li::first-letter{
}
