 /* style.css */

 table tr {
    border:2px solid ;
    justify-content: center;
    display: 2px solid;


 }
 
 footer{
    display: flex;
    width: 100%;
    background-color: rgb(234, 126, 10);
    color: aliceblue;
    height: 5vh;
    position: fixed;
    bottom: 0px;
    align-items: center;
   
   
    
}
#left-footer{
    width: 30vw;
    margin-left: 20px;
 
}
#right-footer{
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
   
  
}
.anchors{
    width: 40vw;
    display: flex;
    justify-content: center;
 
}
a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: aliceblue;
}
#ancCourse{
    text-decoration: none;
    color: aliceblue;
}